*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #f4f6fa;
  background: #ffffff;
  font-size: 62.5%;
  font-family: "Raleway";
  position: relative;
}

.body-rapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3vw 97vw;
  height: 100vh;
}

.body-rapper > div:nth-of-type(1) {
  order: 2;
}
.body-rapper > div:nth-of-type(2) {
  order: 1;
}

.container {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 649px) {
  .body-rapper {
    grid-template-rows: 95vh 5vh;
    grid-template-columns: 1fr;
  }

  .body-rapper > div:nth-of-type(1) {
    order: 1;
  }
  .body-rapper > div:nth-of-type(2) {
    order: 2;
  }
}
